

.single-blog::before {
    border-right: 2px solid #FF5E14;
    border-bottom: 2px solid #FF5E14;
}
.single-blog::after {
    border-top: 2px solid #FF5E14;
    border-left: 2px solid #FF5E14;
}
.blog-txt .date span {
    color: #FF5E14;
}
.blog-txt .blog-title a:hover {
    color: #FF5E14;
}
a.readmore-btn {
    background-color: #FF5E14;
}
ul.breadcumb li a:hover {
    color: #FF5E14;
}
.main-menu li a:hover {
    color: #FF5E14;
}
.approach-icon-wrapper {
    border: 1px solid #FF5E14;
}
.case-carousel button.owl-next:hover {
    border: 2px solid #FF5E14 !important;
}
.case-carousel button.owl-next:hover i {
    color: #FF5E14;
}
.member-info small {
    color: #FF5E14;
}
.single-team-member::before {
    border-top: 2px solid #FF5E14;
    border-left: 2px solid #FF5E14;
}
.single-team-member::after {
    border-bottom: 2px solid #FF5E14;
    border-right: 2px solid #FF5E14;
}
.loader {
    border: 4px solid #FF5E14;
}
.loader-inner {
    background-color: #FF5E14;
}
.single-service::before {
    border-right: 2px solid #FF5E14;
    border-bottom: 2px solid #FF5E14;
}
.single-service::after {
    border-top: 2px solid #FF5E14;
    border-left: 2px solid #FF5E14;
}
.pagination-nav li.page-item.active a {
    background-color: #FF5E14;
    border: 2px solid #FF5E14;
}
.category-lists ul li a::after {
    color: #FF5E14;
}
.category-lists ul li a:hover {
    color: #FF5E14;
}
.subscribe-section span {
    color: #FF5E14;
}
.subscribe-section h3::after {
    background-color: #FF5E14;
}
.subscribe-form input[type="submit"], .subscribe-form button[type="submit"] {
    background-color: #FF5E14;
    border: 1px solid #FF5E14;
}
.subscribe-form input[type="submit"]:hover, .subscribe-form button[type="submit"]:hover {
    border: 1px solid #FF5E14;
    color: #FF5E14;
}
.project-ss-carousel .owl-next {
    background-color: #FF5E14;
    border: 1px solid #FF5E14;
}
.project-ss-carousel .owl-next:hover {
    color: #FF5E14;
}
.project-ss-carousel .owl-prev {
    background-color: #FF5E14;
    border: 1px solid #FF5E14;
}
.project-ss-carousel .owl-prev:hover {
    color: #FF5E14;
}
.popular-post-txt h5 a:hover {
    color: #FF5E14;
}
.single-contact-info i {
    color: #FF5E14;
}
.support-bar-area ul.social-links li a:hover {
    color: #FF5E14;
}
.main-menu li.dropdown:hover a {
    color: #FF5E14;
}
.main-menu li.dropdown ul.dropdown-lists li a::before {
    background-color: #FF5E14;
}
.main-menu li.dropdown ul.dropdown-lists li.active a {
    background-color: #FF5E14;
}
.main-menu li.dropdown.active::after {
    color: #FF5E14;
}
.single-category .text a.readmore {
    color: #FF5E14;
}
.category-lists ul li.active a {
    color: #FF5E14;
}
.case-types ul li a {
    border: 1px solid #FF5E14;
}
.case-types ul li a:hover {
    background-color: #FF5E14;
}
.case-types ul li.active a {
    background-color: #FF5E14;
}
.main-menu li.dropdown:hover::after {
    color: #FF5E14;
}
.faq-section .accordion .card .card-header .btn:hover {
    background-color: #FF5E14;
}
.faq-section .accordion .card .card-header .btn[aria-expanded="true"] {
    background-color: #FF5E14;
}
.blog-details-quote {
    border-left: 3px solid #FF5E14;
}
.comment-lists h3::after {
    background-color: #FF5E14;
}
.reply-form-section h3::after {
    background-color: #FF5E14;
}
.error-txt a {
    background-color: #FF5E14;
    border: 1px solid #FF5E14;
}

.error-txt a:hover {
    color: #FF5E14;
}

.mega-dropdown .dropbtn::before {
    background-color: #FF5E14;
}

.mega-dropdown .dropbtn::after {
    background-color: #FF5E14;
}

.mega-dropdown-content .service-category a::before {
    color: #FF5E14;
}

.mega-dropdown-content .service-category h3 {
    color: #FF5E14;
}

.testimonial-carousel.owl-theme .owl-dots .owl-dot.active span {
    background: #FF5E14;
}
.owl-carousel.common-carousel .owl-nav button.owl-next, .owl-carousel.common-carousel .owl-nav button.owl-prev {
    background: #FF5E14;
    border: 1px solid #FF5E14;
}

.owl-carousel.common-carousel .owl-nav button.owl-next:hover, .owl-carousel.common-carousel .owl-nav button.owl-prev:hover {
    color: #FF5E14;
}

.mega-dropdown .service-category a.active {
    color: #FF5E14;
}

.mega-dropdown .dropbtn.active {
    color: #FF5E14;
}

.case-types ul li a {
    color: #FF5E14;
}

.mega-dropdown:hover a.dropbtn {
    color: #FF5E14;
}

.mega-dropdown .dropbtn::before {
    background-color: #FF5E14;
}

.mega-dropdown .dropbtn::after {
    background-color: #FF5E14;
}

.single-pic h4::after {
    background-color: #FF5E14;
}

.video-play-button:before {
    background: #FF5E14;
}

.video-play-button:after {
    background: #FF5E14;
}

.project-ss-carousel.owl-theme .owl-dots .owl-dot.active span {
    background: #FF5E14;
}

.pagination-nav li.page-item.active a, .pagination-nav li.page-item.active span {
    background-color: #FF5E14;
    border: 2px solid #FF5E14;
}

.statistics-section h5 i {
    color: #FF5E14;
}

.hero2-carousel.owl-theme .owl-dots .owl-dot.active span {
    background-color: #FF5E14;
}

button.cookie-consent__agree {
    background-color: #FF5E14;
}

button.mfp-close:hover {
    background-color: #FF5E14;
}

.single-pricing-table:hover a.pricing-btn {
    background-color: #FF5E14;
}

.single-pricing-table a.pricing-btn:hover {
    background-color: #fff;
    color: #FF5E14;
}

.single-pricing-table:hover {
    background-color: #FF5E14;
    border: 2px solid #FF5E14;
}

.single-pricing-table .price {
    color: #FF5E14;
}

.package-order {
  background-color: #FF5E14;
  border-color: #FF5E14;
}

ul.language-dropdown li a::before {
    background: #FF5E14;
}

a.language-btn:hover {
    color: #FF5E14;
}
.single-job a.title {
    color: #FF5E14;
}

.single-job strong i {
    color: #FF5E14;
}
.job-details h3 {
    color: #FF5E14;
}
.service-txt .service-title a:hover {
    color: #FF5E14;
}
.fc-button-primary {
    background-color: #FF5E14;
    border-color: #FF5E14;
}
.fc-button-primary:hover {
    background-color: #FF5E14;
    border-color: #FF5E14;
}
.fc-button-primary:not(:disabled).fc-button-active, .fc-button-primary:not(:disabled):active {
    background-color: #FF5E14;
    border-color: #FF5E14;
}
button.mfp-close:hover {
    background-color: transparent;
}

@media only screen and (max-width : 991px) {
    li.submenus ul {
        background: transparent;
    }
    .mean-container a.meanmenu-reveal {
        color: #FF5E14;
    }
}
@media only screen and (max-width: 575px) {
  .case-types ul li a {
      background-color: #fff;
  }
}

















.header_v1 .hainer_main_content .logo {
    background: #fff;
}
.logistics_btn {
    background: #FF5E14;
}
.blog_slide .slick-prev:before, .blog_slide .slick-next:before, .team_slide .slick-prev:before, .team_slide .slick-next:before, .project_slide .slick-prev:before, .project_slide .slick-next:before, .pricing_slide .slick-prev:before, .pricing_slide .slick-next:before, .service_slide .slick-prev:before, .service_slide .slick-next:before, .hero_slide_v1 .slick-prev:before, .hero_slide_v1 .slick-next:before {
    background: #FF5E14;
}
.feature_v1 .grid_item:hover {
    background: #FF5E14;
}
.feature_v1 .active_item {
    background: #FF5E14;
}
.play_box .play_btn {
    background: #FF5E14;
}
.section_title span {
    color: #FF5E14;
}
.section_title span {
    color: #FF5E14;
}
.service_v1 .service_slide .grid_item:hover {
    background: #FF5E14;
}
.we_do_v1 .logistics_icon_box .icon_list .icon i {
    color: #FF5E14;
}
.logistics_fun_v1 .counter_box .icon i {
    color: #FF5E14;
}
.main-menu ul li:hover > a {
    color: #FF5E14;
}
.main-menu ul li ul.mega-menu li.mega-item:hover > a, .main-menu ul li ul.mega-menu li.mega-item ul li:hover > a {
    color: #FF5E14;
}
.main-menu ul li ul.mega-menu li.mega-item ul li a:hover {
    color: #FF5E14;
}
.main-menu ul li > ul.sub-menu {
    background: #FF5E14;
}
li.submenus ul {
    background: #FF5E14;
}
.testimonial_slide .slick-dots li.slick-active button {
    background: #FF5E144a;
}
.project_slide .grid_item .grid_inner_item .logistics_img .overlay_img {
    background: #FF5E14;
}
.pricing_v1 .pricing_box:hover {
    border-color: #FF5E14;
}
.team_v1 .grid_item .grid_inner_item .logistics_img .overlay_content {
    background: #FF5E14;
}
.blog_v1 .grid_item .grid_inner_item .logistics_content h3.post_title a:hover {
    color: #FF5E14;
}
.blog_v1 .grid_item .grid_inner_item .logistics_content .btn_link:hover, .blog_v1 .grid_item .grid_inner_item .logistics_content .btn_link:focus {
    color: #FF5E14;
}
.main_bg {
    background: #FF5E14;
}
input[type="submit"], button[type="submit"] {
    background-color: #FF5E14;
    border: 1px solid #FF5E14;
}
.footer_v1 .widget_box .widget_link li:hover a {
    color: #FF5E14;
}
.footer_v1 .footer_bottom .social_box ul li a:hover, .footer_v1 .footer_bottom .social_box ul li a:focus {
    background: #FF5E14;
}
form#footerSubscribeForm button.logistics_btn:hover {
    color: #FF5E14;
}
#scroll_up:hover, #scroll_up:focus {
    background: #FF5E14;
}
.service-section .service_v1 .service_slide .grid_item:hover {
    background: #FF5E14;
}
a.boxed-btn {
    background-color: #FF5E14;
}
input[type="submit"]:hover, button[type="submit"]:hover {
    color: #FF5E14;
}



.header_v1 .header_navigation {
    background: #121C45;
}
.feature_v1 .grid_item {
    background: #121C45;
}
.dark_bg {
    background: #121C45;
}
.service-section .service_v1 .service_slide .grid_item {
    background: #121C45;
}
.subscribe-section {
    background-color: #121C45;
}







.product-area .shop-search i {
    color: #FF5E14;
}
.product-area .shop-sidebar .shop-box .sidebar-title .title::before {
    background: #FF5E14;
}
.product-area .shop-sidebar .shop-box .sidebar-title .title::after {
    background: #FF5E14;
}
.product-area .shop-tag .tag-item ul li a:hover {
    background: #FF5E14;
}
.product-area .shop-tag .tag-item ul li.active-search a {
    background: #FF5E14;
}
.ui-slider-horizontal .ui-slider-range {
    background: #FF5E14;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #FF5E14;
    background: #FF5E14;
}
button.filter-button {
    background-color: #FF5E14;
}
.product-area .shop-item .shop-thumb::before {
    background-color: #FF5E148a;
}
li.active-search a {
    color: #FF5E14 !important;
}
.product-area .shop-item .shop-thumb ul li a {
    color: #FF5E14;
}
.product-area .shop-item .shop-content span {
    color: #FF5E14;
}
.product-area .shop-item .shop-content a:hover {
    color: #FF5E14;
}
.product-details-area .product-item-slide .slick-arrow {
    background: #FF5E14;
}
.actions .main-btn {
    background: #FF5E14;
}
.product-details-area .product-details-content .product-details-tags ul li {
    color: #FF5E14;
}
.shop-tab-area .nav .nav-item .nav-link.active {
    color: #FF5E14;
}
.shop-review-area .shop-review-form .input-box ul li a {
    color: #FF5E14;
}
.shop-review-area .shop-review-form .input-btn button {
    background: #FF5E14;
    border-color: #FF5E14;
}
.shop-review-area .shop-review-form .input-btn button:hover {
    color: #FF5E14;
}
.product-items .shop-item .shop-thumb::before {
    background-color: #FF5E148a;
}
.product-items .shop-item .shop-thumb ul li a {
    color: #FF5E14;
}
.product-items .shop-item .shop-content span {
    color: #FF5E14;
}
.shop-tab-area .nav .nav-item .nav-link::before {
    background: #FF5E14;
}
.product-details-area .product-details-slide-item .slick-arrow {
    background: #FF5E14;
}
.cart-area .cart-table tbody .available-info .icon {
    background: #FF5E14;
}
.cart-middle .update-cart button {
    border: 1px solid #FF5E14;
    background: #FF5E14;
}
.cart-middle .update-cart button:hover {
    color: #FF5E14;
}
a.proceed-checkout-btn {
    border: 1px solid #FF5E14;
    color: #FF5E14;
}
a.proceed-checkout-btn:hover {
    background-color: #FF5E14;
}
.cart-area .cart-table tbody tr td .remove span:hover {
    color: #FF5E14;
}
.login-area .login-content .input-btn button {
    background: #FF5E14;
    border-color: #FF5E14;
}
.login-area .login-content .input-btn button:hover {
    color: #FF5E14;
}
.login-area .login-content .input-btn a {
    color: #FF5E14;
}
.user-sidebar .links li a.active {
    color: #FF5E14;
}
.user-sidebar .links li:hover>a {
    color: #FF5E14;
}
.main-table .dataTables_wrapper td a.btn {
    border: 1px solid #FF5E14;
}
.main-table .dataTables_wrapper td a.btn:hover {
    background: #FF5E14;
}
.paginate_button.active .page-link {
    background-color: #FF5E14 !important;
}
.progress-steps li.active .icon {
    background: #FF5E14;
}
.order-info-area .prinit .btn {
    background: #FF5E14;
}
.file-upload-area .upload-file span {
    background: #FF5E14;
}
.actions .checkout-btn {
    border: 1px solid #FF5E14;
}

.actions .checkout-btn:hover {
    background: #FF5E14;
}

.product-items .shop-item .shop-content a:hover {
    color: #FF5E14;
}
.product-details-area .product-details-content .product-social-icon ul li a:hover {
    color: #FF5E14;
}